* {
    margin: 0;
    padding: 0;
}

canvas {
    margin: 10px 20px;
    border: 2px solid #333;
}

.score {
    padding: 10px 0 0 20px;
}

.score span {
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.ant {
    background: white;
    display: none;
}